/* body {
  margin: 50%;
} */
div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-top: 20%;
  margin-left: 7.5%;
  animation: move 2.5s ease-in-out infinite;
}

@keyframes move {
  0%,
  100% {
    transform: scale(0.2);
    opacity: 25%;
    background-color: rgb(0, 76, 216);
  }

  50% {
    transform: scale(1);
    opacity: 100%;
  }
}
div:nth-child(0) {
  animation-delay: 0s;
}
div:nth-child(1) {
  animation-delay: 0.2s;
}
div:nth-child(2) {
  animation-delay: 0.4s;
}
div:nth-child(3) {
  animation-delay: 0.6s;
}
div:nth-child(4) {
  animation-delay: 0.8s;
}
div:nth-child(5) {
  animation-delay: 1s;
}
